/* LAYOUT */

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1.2rem;
}

h2 {
    margin-top: 0;
    width: 30ch;
}

h1 {
    margin-top: 0;
    width: 30ch;
}

.h1-paragraph {
    width: 40ch;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
}

.nav-list > li {
    list-style: none;
}

.column {
    width: 48%;
}

.column img {
    width: 100%;
}

.man-bok {
    position: relative;
    bottom: 7rem;
}

.column p {
    width: 90%;
}

.main-section div p:first-child {
    margin-bottom: 0;
}

#devices-img {
    width: 65%;
}

.two-column {
    margin-top: 7.5rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.three-column {
    display: flex;
}

.centred-text {
    text-align: center;
}

.flex-row-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.six-col-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}

.center-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lady-and-koala {
    position: relative;
    /* right: 5rem; */
    width: 800px;
}

.header-logo {
    width: 14rem;
}


