/* LAYOUT */

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1.2rem;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
    font-size: small;
}

.nav-list > li {
    list-style: none;
}

.column {
    width: 35%;
}

.two-column {
    display: flex;
    margin-left: -4rem;
    justify-content: space-around;
    align-items: center;
}

.three-column {
    display: flex;
}

.centred-text {
    text-align: center;
}

.flex-row-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.six-col-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}

.center-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lady-and-koala {
    position: relative;
    right: 5rem;
    width: 800px;
}
