/* STYLE */


h1 {
    font-size: 2.3rem;
    font-weight: 100;
}

.nav-list {
    font-size: small;
}

.main-section div p:first-child {
    font-size: 12px;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00368b;
}

.primary-text {
    color: #00368b;
}
.secondary-text, nav a, p {
    color: #6787ba;
}

.blue-text {
    color: #a1cfe8;
}

.green-text {
    border-color: #62d6b0;
    color: #62d6b0;
}

.orange-text {
    border-color: #f57a86;
    color: #f57a86;
}

.yellow-text {
    border-color: #f8ed94;
    color: #f8ed94;
}

.purple-text {
    border-color: #cabee3;
    color: #cabee3;
}

.pink-text {
    border-color: #f8ed94;
    color: #f8ed94;
}

p {
    font-weight: 500;
    width: 80ch;
}

.orange-bg {
    background-color: #fe6f61;
}

#page-header a {
    text-decoration: none;
}
